<i class="puntero fa fa-arrow-left "
       onclick="traemedatos('gestionmatricula/matricula')"
       style="color: red">Atras
    </i>
<b>
    <h2 align="center" style="color: #00a792"> Notas del curso</h2>
</b>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>N°</th>
          <th>p1</th>
          <th>p2</th>
          <th>pp</th>
          <th>sp</th>
          <th>Trabajos</th>
          <th>Nota final</th>
      </tr>
    </thead>
    <tbody>
    {% for a in eva %}
      <tr>
          <td>{{forloop.counter}}</td>
                <td>{{a.primerapractica }}</td>
                <td>{{a.segundapractica }}</td>
                <td>{{a.primerparcial }}</td>
                <td>{{a.segundoparcial }}</td>
                <td>{{a.trabajos }}</td>
                <td>{{a.notafinal|floatformat }}</td>

      </tr>
    {% endfor %}
    </tbody>
</table>