<style>
    .formuMa{
        border:1px solid #1abc9c;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0.1px 2px 20px 2px rgb(26, 188, 156);
    }
    .curso:hover{
        background: skyblue;
        border-radius: 50px;
        cursor: pointer;
        color: white;
    }
    .curso2{
        background: skyblue;
        border-radius: 50px;
        cursor: pointer;
        color: white;
    }

</style>
<h3 style=" color: #00aced" align="center"><b> MATRÍCULA</b></h3><br>

<form action="POST" onsubmit="matriAlumno(this);return false" >
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="formuMa">
                <h5 style="color: #00a792" align="center" >! Selecciona tus cursos ... </h5>
                    {% csrf_token %}
                    {% for a in matricula %}
                        <div class="infographic-box merged merged-top merged-right pull-left curso" onclick="curso(this,'i{{a.idAsignatura_id}}')">
                        <i class="fa fa-book green-bg"></i><span class="label label-primary label-circle">{{a.idAsignatura__Creditos}}</span> Créditos
                            <input type="hidden" name="idcurso[]" id="i{{a.idAsignatura_id}}" disabled value="{{a.id}}"/>
                        <span class="value green">{{a.idAsignatura__Nombre|title}}</span>
                        <span class="headline">Prof. {{a.idSemestrexDocente__idDocente__names}} {{a.idSemestrexDocente__idDocente__first_name}} {{a.idSemestrexDocente__idDocente__last_name}}</span>
                        </div>
                    {% endfor %}

                    <input type="checkbox" > Acepto matricularme en los cursos, segun la normatividad académica <br>
                    <button style="margin-left: 180px"  type="submit"class="btn btn-primary">Matricularse</button>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</form>
<script>
    function curso(t,id){
        if ($("#"+id).is(':disabled')){
            $("#"+id ).prop( "disabled", false );
            $(t).addClass('curso2');
        }else{
            $(t).removeClass('curso2');
            $("#"+id ).prop( "disabled", true );
        }
    }
    function matriAlumno(t){
        if ($('input[type=checkbox]').is(':checked')){
            form= $(t).serialize();
            u = "gestionmatricula/matricula";
            $.post(u,form).done(function(g){
                   traemedatos('gestionmatricula/matricula')
                    noti("success",g);
            });
        }else{
            noti('error',"no acepto matricularse");
        }
    }
</script>



