
<br style="color: #00bca4"><h3>Gracias, Usted ya se encuentra matriculado ... </h3>
<b><h2 align="center">Lista de los cursos</h2></b><br>
{% for a in cursos %}
    <div class="infographic-box merged merged-top merged-right pull-left curso" onclick="curso(this,'i{{a.idDocentexAsignatura__idAsignatura_id}}')">
        <i class="fa fa-book green-bg"></i>
        <span class="label label-primary label-circle">
            {{a.idDocentexAsignatura__idAsignatura__Creditos}}
        </span>  Créditos
            <span class="value green">{{a.idDocentexAsignatura__idAsignatura__Nombre|title}}</span>
            <span class="headline">
                <span class="headline">Prof. {{a.idDocentexAsignatura__idSemestrexDocente__idDocente__names}} {{a.idDocentexAsignatura__idSemestrexDocente__idDocente__first_name}} {{a.idDocentexAsignatura__idSemestrexDocente__idDocente__last_name}}</span>
                <a href="#" onclick="verclases({{a.idDocentexAsignatura_id}})"><i style="color: #00b19b"></i> Ver Clases </a><br>
                <a href="#" onclick="vernotasalum({{a.idDocentexAsignatura_id}})"><i style="color: #00b19b"></i> Ver Notas </a>
            </span>
    </div>
{% endfor %}
<script>
    function verclases(id){
        $.get('gestionmatricula/verclase?id='+id).done(function(r){
            $("#resultados").empty().html(r);
        });
    }
    function vernotasalum(id){
        $.get('gestionmatricula/vernotasalum?idd='+id).done(function(r){
            $("#resultados").empty().html(r);
        });
    }
</script>