<i class="puntero fa fa-arrow-left "
   onclick="traemedatos('gestionmatricula/matricula')"
   style="color: red">Atras</i><br>
<b><h2 align="center">Lista de Temas Del Curso y Marcar su Asistencia</h2></b>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>N°</th>
        <th>Tema</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Aula</th>
        <th>Marcar Asistencia</th>
      </tr>
    </thead>
    <tbody>
    {% for a in clases %}
      <tr
              {% if datet != a.fecha|date:'d-m-Y'  %}
                    style="background: coral"
              {% else %}
              {% for aa in asistencia %}
                    {% if aa.idclases_id == a.id  %}
                        {{idm}}
                        {% if aa.idmatriculados_id == idm %}
                        style="background: skyblue"
                        {% endif %}
                    {% endif %}
              {% endfor %}
              {% endif %}
                >
          <td>{{forloop.counter}}</td>
          <td>
              {{a.Tema}}
          </td>
          <td>
              {{a.Descripcion}}
          </td>
          <td>
              {{a.fecha}}
          </td>
          <td>
              {{a.idAula__Descripcion}}
          </td>
          <td>
              {% if datet == a.fecha|date:'d-m-Y'  %}
                    <i class="puntero fa fa-play-circle" style="color: #00b19b" onclick="marcarasistencia({{a.id}})"></i>
              {% endif %}

          </td>

      </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    function marcarasistencia(id){

                $.post("gestionmatricula/marcarasistencia",{'csrfmiddlewaretoken':"{{ csrf_token }}",'id':id}).done(function(d){
                    noti("success", d);
                    traemedatos('gestionmatricula/verclase?id='+{{ida}});
                }).fail(function(resp) {
                    var errors = resp.responseText;
                    noti("error", errors);
            });
    }
</script>