    <i class="puntero fa fa-arrow-left "
       onclick="traemedatos('gestionasignatura/listaAsignatura')"
       style="color: red">Atras
    </i>
<b>
    <h2 align="center" style="color: #00a792"> Lista de Alumnos del curso</h2>
</b>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>N°</th>
        <th>Código</th>
        <th>Apellidos y Nombres</th>
      </tr>
    </thead>
    <tbody>
    {% for a in alumnos %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td>
              {{a.idAlumno__dni}}
          </td>
          <td>
              {{a.idAlumno__first_name}} {{a.idAlumno__last_name}}, {{a.idAlumno__names}}
          </td>
      </tr>
    {% endfor %}
    </tbody>
</table>