<b><h2 align="center" style="color: #00a792">Lista de los cursos de Docentes</h2></b><br>
{% for a in cursos %}
    <div class="infographic-box merged merged-top merged-right pull-left curso" onclick="curso(this,'i{{a.idAsignatura_id}}')">
        <i class="fa fa-book green-bg"></i>
        <span class="label label-primary label-circle">
            {{a.idAsignatura__Creditos}}
        </span>  Créditos
        <input type="hidden" name="idcurso[]" id="i{{a.idAsignatura_id}}" disabled value="{{a.idAsignatura_id}}"/>
            <span class="value green">{{a.idAsignatura__Nombre|title}}</span>
            <span class="headline">
                <a href="#" onclick="veralumnos({{a.id}})" ><i  style="color: #00b29c"></i> Ver alumnos </a><br>
                <a href="#" onclick="verclases({{a.id}})"><i  style="color: #00b29c"></i> Ver Clases </a><br>
                <a href="#" onclick="vereva({{a.id}})"><i  style="color: #00b29c"></i> Ver Evaluación </a>
            </span>
    </div>
{% endfor %}

<script>
    function veralumnos(id){
        $.get('gestionasignatura/listaAlumnos?id='+id).done(function(r){
            $("#resultados").empty().html(r);
        });

    }
    function vereva(id){
        $.get('gestionasignatura/evaluacion?id='+id).done(function(r){
            $("#resultados").empty().html(r);
        });

    }
    function verclases(id){
        $.get('gestionasignatura/listadeclases?id='+id).done(function(r){
            $("#resultados").empty().html(r);
        });

    }
</script>