<style>
    input{
        border: none;
    }
</style>
<i class="puntero fa fa-arrow-left "
       onclick="traemedatos('gestionasignatura/listaAsignatura')"
       style="color: red">Atras
    </i>
<b>
    <h2 align="center" style="color: #00a792"> Evaluación de los Alumnos del curso</h2>
</b>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>N°</th>
        <th>Código</th>
        <th>Apellidos y Nombres</th>
          <th>p1</th>
          <th>p2</th>
          <th>pp</th>
          <th>sp</th>
          <th>Trabajos</th>
          <th>Nota final</th>
      </tr>
    </thead>
    <tbody>
    {% for a in eva %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td>
              {{a.idAlumno__dni}}
          </td>
          <td>
              {{a.idAlumno__first_name}} {{a.idAlumno__last_name}}, {{a.idAlumno__names}}
          </td>
                <td><input autofocus class="form-control "  onblur="nota(this,{{a.id}},'primerapractica')" type="number" value="{{a.primerapractica }}"></td>
                <td><input class="form-control " onblur="nota(this,{{a.id}},'segundapractica')" type="number" value="{{a.segundapractica }}"></td>
                <td><input class="form-control " onblur="nota(this,{{a.id}},'primerparcial')" type="number" value="{{a.primerparcial }}"></td>
                <td><input class="form-control " onblur="nota(this,{{a.id}},'segundoparcial')" type="number" value="{{a.segundoparcial }}"></td>
                <td><input class="form-control " onblur="nota(this,{{a.id}},'trabajos')"type="number" value="{{a.trabajos }}"></td>
                <td>{{a.notafinal|floatformat }}</td>

      </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    function nota(t,id,n){
        no = $(t).val();

        if (no!="" && no>=0 && no<=20) {
            $.get("gestionasignatura/nota", {'id': id, 'nota': no, 'n': n}).done(function (d) {
                noti("success", d);
                traemedatos('gestionasignatura/evaluacion?id=' + {{idd}});
            });
        }else{
            $(t).val(0);
            noti("error", "mayor de 0 y menor o igual a 20");
        }
    }
</script>