<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ tipo }} CLASE</h4>
</div>
<form action="POST" idd="{{ idd }}" onsubmit="reClase(this);return false" >
    <div class="modal-body">
            {% csrf_token %}
            {{ formulario.idAula.label_tag }}
            {{ formulario.idAula }}<br>

            {{ formulario.Tema.label_tag }}
            {{ formulario.Tema }}<br>

            {{ formulario.Descripcion.label_tag }}
            {{ formulario.Descripcion }}<br>

            {{ formulario.fecha.label_tag }}
            {{ formulario.fecha }}

            <input type="hidden" value="{{iddoc}}" id="id_idDocentexAsignatura" name="idDocentexAsignatura"/>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit"class="btn btn-primary">{{ tipo }}</button>

    </div>
</form>

<script>
    $("select").addClass("form-control input-sm");
    function reClase(t){
        idd = $(t).attr('idd');
        form= $(t).serialize();

        if (idd){
            u = "registro/Clase/update";
        }else{
            u = "gestionasignatura/addClase";
        }
          $.post(u,form+"&idd="+idd, function(data){
                    unblock_form();
                }).fail(function(resp) {
                unblock_form();
                var errors = JSON.parse(resp.responseText);
                console.log(resp);
                for (e in errors) {
                    var id = '#id_' + e;
                    $(id).after(errors[e]);
                }
                }).done(function(g){
                    $('#modal-8').modal('hide');
                    traemedatos('gestionasignatura/listadeclases?id='+{{iddoc}});
                    noti("success",g);
                });
        return false;
    }
</script>