<i class="puntero fa fa-arrow-left "
   onclick="traemedatos('gestionasignatura/listaAsignatura')"
   style="color: red">Atras</i>
<b>
    <h2 align="center" style="color: #00b19b"> Lista de Clases y lista de asistencia de alumnos por clases </h2>
</b>
<i style="color: #00a792">AGREGAR CLASE
</i><br>
<i class="fa fa-plus-square fa-3x puntero" style="color: #00a792" onclick="add()"></i><br>
<table class="table table-condensed">
    <thead>
      <tr>
        <th>N°</th>
        <th>Tema</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Aula</th>
        <th>Ver Asistencia</th>
      </tr>
    </thead>
    <tbody>
    {% for a in clases %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td>
              {{a.Tema}}
          </td>
          <td>
              {{a.Descripcion}}
          </td>
          <td>
              {{a.fecha}}
          </td>
          <td>
              {{a.idAula__Descripcion}}
          </td>
          <td>
              <i class="puntero fa fa-play-circle" style="color: #00b19b" onclick="verasistencia({{a.id}})"></i>
          </td>

      </tr>
    {% endfor %}
    </tbody>
</table>
<div class="modal" data-easein="perspectiveRightIn" id="modal-8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
     <div class="modal-dialog" role="document">
         <div class="modal-content"></div>
     </div>
</div>
{% load static %}
<script src="{% static 'js/appSecurity/base.js' %}"></script>
<script src="{% static 'js/app_listas/listas.js' %}"></script>
<script>
    function  verasistencia(id){
        $.get("gestionasignatura/asistencia?id="+id+"&idc="+{{iddoc}}).done(function(r){
            $("#resultados").empty().html(r);
        });
    }

    function add(){
        $.get("gestionasignatura/addClase?iddoc="+{{iddoc}},function(d){
            $("#modal-8 .modal-content").empty().html(d);
            $('#modal-8').modal('show');
        });
    }

</script>