<i class="puntero fa fa-arrow-left fa-2x" onclick="traemedatos('asignaturadocente/asignaturaxdocente')" style="color: red">Atras</i>
<h2>Lista de Docentes del semestre: {{ nombresemestre.0.Anio_semestre }}</h2>
<style>
    .trhover:hover{
        background-color: #00a792;
        cursor: pointer;
    }
</style>

{% if docentes %}
<table class="table table-striped">
    <thead>
    <tr>
        <td width="60px">Agregar</td>
        <td>N°</td>
        <td>Nombre</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for d in docentes %}
        <tr             {% for s in SemestrexDocente %}
                        {% if d.id == s.idDocente_id %}
                           class="info"
                        {% endif %}

                {% endfor %}>
            <td>
                <i class="fa fa-plus puntero" style="color: #00a792"  onclick="add({{ d.id }},{{  nombresemestre.0.id}})"></i>
            </td>
            <td>{{ forloop.counter }}</td>
            <td class="trhover" onclick="add({{ d.id }},{{  nombresemestre.0.id}})">
                {{ d.names }} {{d.first_name}} {{d.last_name}}
            </td>
            <td>
                {% for s in SemestrexDocente %}
                        {% if d.id == s.idDocente_id %}
                            <i onclick="eliminar({{ s.id }},{{  nombresemestre.0.id}})" class="puntero fa fa-trash-o fa-2x" style="color: red"></i>//
                            <i class="puntero" onclick="verasignatura({{ s.id }},{{ s.idDocente_id }},{{  nombresemestre.0.id}})"><i class="fa fa-2x fa-hand-o-right"></i> Ver Asignaturas</i>
                        {% endif %}

                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
{% load static %}
<script src="{% static 'js/appSecurity/base.js' %}"></script>
<script src="{% static 'js/app_listas/listas.js' %}"></script>
<script>
        function verasignatura(id,idd,ids){
        $.get("asignaturadocente/asignaturaxdocente/listarasignaturas",{'id':id,'iddocente':idd,'ids':ids}).done(
           function(d){
               $("#resultados").empty().html(d);
           }
        );

    }
            function add(id,ids){
                $.post("asignaturadocente/asignaturaxdocente/listardocentes",{'csrfmiddlewaretoken':"{{ csrf_token }}",'iddocente':id,'idsemestre':ids}).done(function(d){
                    noti("success", d);
                    traemedatos('asignaturadocente/asignaturaxdocente/listardocentes?idsemestre='+ids);
                }).fail(function(resp) {
                    var errors = resp.responseText;
                    noti("error", errors);
            });
            }

            function eliminar(id,ids){
                $.get("asignaturadocente/asignaturaxdocente/eliminar",{'iddd':id}).done(function(d) {
                    noti("error", d);
                    traemedatos('asignaturadocente/asignaturaxdocente/listardocentes?idsemestre='+ids);
                });
            }

</script>