<i class="puntero fa fa-arrow-left fa-2x" onclick="traemedatos('asignaturadocente/asignaturaxdocente/listardocentes?idsemestre={{ ids }}')" style="color: red">Atras</i>
<h2 style="color: #00a792">Lista de Asignatura del docente: {{ nombredocente.0.Nombre }} {{ nombredocente.0.Apellidos }}</h2>
<style>
    .trhover:hover{
        background-color: #00a792;
        cursor: pointer;
    }
</style>

{% if asignaturas %}
<table class="table table-condensed">
    <thead>
    <tr>
        <td width="60px">Agregar</td>
        <td>N°</td>
        <td>Nombre</td>
        <td>Créditos</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for d in asignaturas %}
        <tr                 {% for s in DocentexAsignatura %}
                        {% if d.id == s.idAsignatura_id %}
                           class="info"
                        {% endif %}

                {% endfor %}>
            <td>
                <i class="fa fa-plus puntero" style="color: #00a792"  onclick="add({{ d.id }},{{ semestredocente}},{{ nombredocente.0.id }},{{ ids }})"></i>
            </td>
            <td width="50px">{{ forloop.counter }}</td>
            <td width="200px" class="trhover" onclick="add({{ d.id }},{{ semestredocente}},{{ nombredocente.0.id }},{{ ids }})">
                {{ d.Nombre }}
            </td>
            <td>{{ d.Creditos }}</td>
            <td>
                {% for s in DocentexAsignatura %}
                        {% if d.id == s.idAsignatura_id %}
                            <i onclick="eliminar({{ s.id }},{{ semestredocente}},{{ nombredocente.0.id }},{{ ids }})" class="puntero fa fa-trash-o fa-2x" style="color: red"></i>
                        {% endif %}

                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endif %}
{% load static %}
<script src="{% static 'js/appSecurity/base.js' %}"></script>
<script src="{% static 'js/app_listas/listas.js' %}"></script>
<script>
        function verasignatura(id,idsd){
        $.get("asignaturadocente/asignaturaxdocente/listarasignaturas$",{'id':id,'idsemestredocente':idsd}).done(
           function(d){
               $("#resultados").empty().html(d);
           }
        );

    }
            function add(ida,idsd,idd,ids){
                $.post("asignaturadocente/asignaturaxdocente/listarasignaturas",{'csrfmiddlewaretoken':"{{ csrf_token }}",'idasignatura':ida,'idsemestredocente':idsd}).done(function(d){
                    noti("success", d);
                    traemedatos('asignaturadocente/asignaturaxdocente/listarasignaturas?ids='+ids+'&iddocente='+idd+'&id='+idsd);
                }).fail(function(resp) {
                    var errors = resp.responseText;
                    noti("error", errors);
            });
            }

            function eliminar(id,idsd,idd,ids){
                $.get("asignaturadocente/SemestrexDocente/eliminar",{'iddd':id}).done(function(d) {
                    noti("error", d);
                    traemedatos('asignaturadocente/asignaturaxdocente/listarasignaturas?id='+idsd+'&ids='+ids+'&iddocente='+idd);
                });
            }

</script>