<h3 style="color: #00b19b">LISTA DE SEMESTRES </h3><br>
<table class="table table-hover">
    <thead>
    <tr>
        <th>N°</th>
        <th>Semestre</th>
        <th>DOCENTES</th>
    </tr>
    </thead>
<tbody>
    {% for foo in semestre %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {{ foo.Anio_semestre|title }}
            </td>
            <td>
                <i  onclick="versemestre({{ foo.id }})" style="color: #00a792" class="puntero fa fa-arrow-right fa-2x">ver</i>
            </td>
        </tr>
    {% endfor %}

</tbody>
</table>

<script>
    function versemestre(id){
        $.get("asignaturadocente/asignaturaxdocente/listardocentes",{'idsemestre':id}).done(
           function(d){
               $("#resultados").empty().html(d);

           }
        );

    }
</script>




