<i class="puntero fa fa-arrow-left "
   onclick="traemedatos('gestionasignatura/listadeclases?id={{idc}}')"
   style="color: red">Atras</i>
<b>
    <h2 align="center"> Lista de Asistencias</h2>
</b>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>N°</th>
        <th>Código</th>
        <th>Apellidos y Nombres</th>
      </tr>
    </thead>
    <tbody>
    {% for a in asistencia %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td>
              {{a.idmatriculados__idAlumno__dni}}
          </td>
          <td>
              {{a.idmatriculados__idAlumno__first_name}} {{a.idmatriculados__idAlumno__last_name}}, {{a.idmatriculados__idAlumno__names}}
          </td>
      </tr>
    {% endfor %}
    </tbody>
</table>