<h3 style="color: #00a792">LISTA DEL DOCENTE DEL SEMESTRE {{ semestre.0.Anio_semestre }}: </h3><br>

<table class="table table-hover" role="grid">
    <thead>
    <tr>
        <th>N°</th>
        <th>Nombres y Apellidos</th>
        <th>Asignatura</th>
    </tr>
    </thead>
<tbody>
    {% for foo in docentes %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {{ foo.idDocente__Nombre|title }} {{ foo.idDocente__Apellidos|title }}
            </td>
            <td>
                <i  onclick="verasignatura({{ foo.idDocente_id }})" style="color: #00a792" class="puntero fa fa-arrow-right fa-2x">ver</i>
            </td>

        </tr>



    {% endfor %}

</tbody>
</table>

<script>
    function verasignatura(id){
        $.get("asignaturadocente/asignaturaxdocente/listarasignaturas",{'iddocente':id}).done(
           function(d){
               $("#resultados").empty().html(d);

           }
        );

    }
</script>




