    {% for a in doc %}

      <b>CURSO: {{a.idAsignatura__Nombre}}</b><br>
              docente: {{a.idSemestrexDocente__idDocente__names}} {{a.idSemestrexDocente__idDocente__first_name}} {{a.idSemestrexDocente__idDocente__last_name}}
      <br>
      ALUMNOS: <br>
        {% for b in mat %}
            {% if a.id == b.idDocentexAsignatura_id %}
                      <b>
                          {{b.idAlumno__names}} {{b.idAlumno__first_name}} {{b.idAlumno__last_name}}
                      </b><br>
            {% endif %}
        {% endfor %} <br>
    {% endfor %}
