<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static from staticfiles %}
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}/img/icons/favicon1.png">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    {% block css %}

    {% endblock %}

</head>

<body>

    {% block contenido %} 
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/demo-skin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js-core.js.pagespeed.jm.NS0ql0YgTp.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jquery-cript.js' %}"></script>
    <!-- jquery cript -->
    <script>eval(mod_pagespeed_19WID9$3F8);</script>


    {% block js %}
    
    {% endblock %}

</body>
</html>