{% load static from  staticfiles %}

    <style>
        .errorlist {
            color: red;
        }
        li{
            list-style: none;
        }
    </style>
<link href="{% static 'css/fotoperfil.css' %}" rel="stylesheet"/>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
    <br>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Perfil</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row animated fadeInRight">
    <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Perfil</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                <form method="post" enctype="multipart/form-data" id="formularioImg">
                                    {% csrf_token %}
                                    <div class="perfilI">
                                        <input type="file"  id="imgInp" accept="image/*" name="foto" value="" placeholder="">
                                        <img id="img" width="200px" height="200px" class="vista img-responsive di" src="" alt="">
                                        {% if user.foto %}
                                             <img id="mos_img" alt="image" width="200px" class="img-responsive re" src="{{MEDIA_URL}}{{user.foto}}">
                                        {% else %}
                                            <img alt="image" width="200px" class="img-responsive re" src="{{MEDIA_URL}}fotoperfil/miuser.jpg">
                                        {% endif %}
                                        <a href="#" >
                                            <i style="display:none" class="fa fa-pencil fa-2x pen re"></i>
                                        </a>                                   
                                    </div>
                                </form>
                                <a href="#">
                                        <i onclick="guardarI('fotoprofile/')" style="color:green" class="fa fa-check fa-2x di bora"></i>
                                </a>
                                <a href="#">
                                        <i onclick="cancel()" style="color:red" class="fa fa-ban fa-2x di xx bora"></i>
                                </a>                                                                   

                                
                                
                            </div>
                            <div id="impri" class="ibox-content profile-content">
                                
                            </div>
                    </div>
                </div>
                    </div>
                <div class="col-md-8">
                    <div class="ibox float-e-margins">

                        <div class="ibox-content his">
                                <div class="example-box-wrapper">
        <ul class="list-group row list-group-icons">
            <li class="col-md-3" onclick="edi()">
                <a href="#tab-example-1" data-toggle="tab" class="list-group-item">
                    <i class="glyph-icon font-blue icon-bullhorn"></i>
                    Editar Información
                </a>
            </li>
            <li class="col-md-3" onclick="contra()">
                <a href="#tab-example-1" data-toggle="tab" class="list-group-item">
                    <i class="glyph-icon icon-dashboard"></i>
                    Cambiar contraseña
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="tab-example-1">
                <div class="row" id="editar">
                    
                </div>
            </div>
        </div>
    </div>
                        </div>
                    </div>

                </div>
</div>
<script type="text/template"  id="mostrar">
    
                                
</script>    
<script src="{%static 'js/fotoperfil.js' %}"></script>