<div id="page-title">
    <div id="dashwelcome">
            <h1>{{ profile_des|upper }} {{ user.names|upper }}</h1>
            <h2>BIENVENIDO AL SISTEMA DE REGISTRO DE SEMESTRE AULA  UNSM-T </h2>
            <br>
    </div>
</div>