<h4><strong>{{user.username|title}} </strong></h4>
<p><i class="fa fa-map-marker"></i> NOMBRE: {{user.names}}</p>
<p><i class="fa fa-map-marker"></i> APELLIDO: {{user.first_name}} {{user.last_name}} </p>
<p><i class="fa fa-map-marker"></i> DNI: {{user.dni}}</p>
<p><i class="fa fa-map-marker"></i> TELÉFONO: {{user.telephone}}</p>
<p><i class="fa fa-map-marker"></i> Dirección: {{user.address}}</p>
<p><i class="fa fa-map-marker"></i> fecha de Inscripción: <br> {{user.date_joined}}</p>

