{% extends "base.html" %}
{% block title %}
  testPsicologico
{% endblock %}
{% block css %}
{% load static from staticfiles %}
    <!-- Mobile Specific Metas -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" >
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
  <style>
    .errorlist{
      color: red
    }
  </style>
{% endblock %}

{% block contenido %}
    <div id="banner" class="bg-blur">
      <!-- Start Header -->
      <div id="header">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- Start Logo / Text -->
              <a class="navbar-brand text-logo" href="/"><i class="icon-rocket blue"></i>TestPsicologico</a>
              <!-- End Logo / Text -->
            </div>
            <!-- Start Navigation -->
            <div class="navigation navbar-collapse collapse">
              <ul class="nav navbar-nav menu-right">

                <li class="dropdown">
                  <a href="/login" >Ingresar</a>
                </li>
              </ul>
            </div>
            <!-- End Navigation  -->
          </div>
          </div>
        </nav>
      </div>
      <!-- End Header -->

        <div class="container">
          <div class="row">
            <!-- Start Header Text -->
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form action="#" style="width: 100%" method="POST" onsubmit="formuserregister(this);return false">
                    <div class="col-md-6 hr">
                    {% csrf_token %}
                   {{ form.profiles }}
                    <strong>{{ form.username.label }}</strong>
                    {{ form.username }}
                    <strong>{{ form.password1.label }}</strong>
                    {{ form.password1 }}
                    <strong>{{ form.password2.label }}</strong>
                    {{ form.password2 }}
                    <strong style="color: green;font-size: 12px">* {{ form.password2.help_text }} </strong> <br><br>
                     <strong>{{ form.dni.label }}</strong>
                    {{ form.dni }}
                     <strong style="color: green;font-size: 12px">*{{ form.dni.help_text }} </strong> <br><br>
                    </div>
                    <div class="col-md-6">
                    <strong>{{ form.sex.label }}</strong>
                    {{ form.sex }}<br>
                    <strong>{{ form.email.label }}</strong>
                    {{ form.email }}
                    <strong>{{ form.names.label }}</strong>
                    {{ form.names }}
                     <strong>{{ form.first_name.label }}</strong>
                    {{ form.first_name }}
                     <strong>{{ form.last_name.label }}</strong>
                    {{ form.last_name }}


                    </div>


                    <br><br>
                    <button type="submit" class="btn btn-alt btn-hover btn-info btn-danger" >
                        <span>Registrar</span>
                        <i class="glyph-icon icon-arrow-right"></i>
                    </button>
                </form>

            </div>

          </div>

        </div>

      </div>

    <hr>
  <div id="clients" class="hidden-xs">
    <div class="container">
      <ul class="list-inline clients-logo text-center">
          <li><a target="_blanck" href="http://www.ehu.eus/es/"><img src="{{ MEDIA_URL }}img/univasco.jpg" alt="" title="" /></a></li>
        <li><img src="{{ MEDIA_URL }}img/t.jpg" alt="" title="" /></li>
        <li><img src="{{ MEDIA_URL }}img/pp.jpg" alt="" title="" /></li>
        <li><img src="{{ MEDIA_URL }}img/dd.jpg" alt="" title="" /></li>
      </ul>
    </div>
  </div>
    <hr>
  <footer id="footer" class="container-fluid">
		<div class="overlay-bg"></div>
		<div >
			<div class="row">
				<div class="col-sm-12">
					<center><p>© Copyright 2016 - UNSM - FISI , página desarrollado por
					<a href="https://www.facebook.com/awcg7" target="_blanck">ANTHONY WAINER</a> &
                        <a href="https://www.facebook.com/brayan.dante?fref=ts" target="_blanck"> MILTON BECERRA PEZO</a>&
					 <a href="https://www.facebook.com/nury.estrellagamonal" target="_blanck">NURY ESTRELLA</a>
                    </p>
                    </center>
				</div>

			</div>
		</div>
	</footer>
{% endblock %}
{% block js %}
    <!-- BOOTSTRAP -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
function formuserregister(ti){
        var form = $(ti).serialize();
             $.post("", form, function(data){
                unblock_form();
            }).fail(function(resp) {
            unblock_form();
            var errors = JSON.parse(resp.responseText);
            console.log(resp);
            for (e in errors) {
                var id = '#id_' + e;
                $(id).after(errors[e]);
            }
            }).done(function(){
                location.href = "/";
            });
        }


function unblock_form() {
        $('.errorlist').remove();
    }
  </script>
{% endblock %}