<header class="navbar" id="header-navbar">
    <div class="container">
    <a href="/" id="logo" class="navbar-brand">
    <img src="{{ MEDIA_URL }}img/logo.png" alt="" class="normal-logo logo-white"/>
    <img src="{{ MEDIA_URL }}img/logo-black.png" alt="" class="normal-logo logo-black"/>
    <img src="{{ MEDIA_URL }}img/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden"/>
    </a>
    <div class="clearfix">
    <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="fa fa-bars"></span>
    </button>
        <div class="nav navbar-nav pull-left">
            <h4 style="color: #f2fbff">SISTEMA DE REGISTRO DE ASISTENCIA DE ALUMNOS</h4>
        </div>
    <div class="nav-no-collapse pull-right" id="header-nav">
    <ul class="nav navbar-nav pull-right">
    <li class="mobile-search">
    <a class="btn">
        <i class="fa fa-search"></i>
    </a>
    <div class="drowdown-search">
        <form role="search">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Search...">
            <i class="fa fa-search nav-search-icon"></i>
            </div>
        </form>
    </div>
    </li>
        <li class="dropdown profile-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="
                                    {% if user.foto %}
                                        {{ MEDIA_URL }}{{user.foto}}
                                    {% elif user.foto_url %}
                                        {{user.foto_url}}
                                    {% else %}
                                        {{ MEDIA_URL }}fotoperfil/miuser.jpg
                                    {% endif %}"  alt=""/>

            <span class="hidden-xs">{{user.username}}</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" onclick="traemedatos('security/cuenta')" ><i class="fa fa-cog"></i>Editar Cuenta</a></li>
            <li><a href="{% url 'cerrarsesion' %}"><i class="fa fa-power-off"></i>Cerrar Sesión</a></li>
            </ul>
        </li>
    <li class="hidden-xxs">
    <a class="btn" href="{% url 'cerrarsesion' %}">
    <i class="fa fa-power-off"></i>
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
</header>
