{% extends "base.html" %}
{% block title %}
  Sistema Registro Asistencia

{% endblock %}
{% block css %}
{% load static from staticfiles %}
    <!-- Mobile Specific Metas -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" >
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
  <style>
    .errorlist{
      color: red;
        font-size: 13px;
        list-style: none;
    }
  </style>
{% endblock %}

{% block contenido %}

<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

        <div class="cont">
            <div class="demo">
                <div class="login">
                    <div class="">
                        <img width="90%" src="https://cdn2.iconfinder.com/data/icons/communication-2/512/Users-512.png" alt="">
                    </div>
                    <div class="login__form">
                    <form action="{{ app_path }}" method="post">{% csrf_token %}
                                    <div style="color: red; text-align: center" id="msm">{{msm}}</div>
                        <div class="login__row">
                          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
                          </svg>
                             {{ form.username }}
                            {{ form.username.errors }}
                        </div>
                        <div class="login__row">
                          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
                          </svg>
                            {{ form.password }}
                            {{ form.password.errors }}
                        </div>
                            <div class="submit-row">
                                <button type="submit" id="formu" class="login__submit">Iniciar</button>
                            </div>
                    </form>
                    </div>
                </div>
                <div class="app">
          <div class="app__top">
            <div class="app__menu-btn">
              <span></span>
            </div>
            <svg class="app__icon search svg-icon" viewBox="0 0 20 20">
              <!-- yeap, its purely hardcoded numbers straight from the head :D (same for svg above) -->
              <path d="M20,20 15.36,15.36 a9,9 0 0,1 -12.72,-12.72 a 9,9 0 0,1 12.72,12.72" />
            </svg>
            <p class="app__hello">Good Morning!</p>
            <div class="app__user">
              <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__user-photo" />
              <span class="app__user-notif">3</span>
            </div>
            <div class="app__month">
              <span class="app__month-btn left"></span>
              <p class="app__month-name">March</p>
              <span class="app__month-btn right"></span>
            </div>
          </div>
          <div class="app__bot">
            <div class="app__days">
              <div class="app__day weekday">Sun</div>
              <div class="app__day weekday">Mon</div>
              <div class="app__day weekday">Tue</div>
              <div class="app__day weekday">Wed</div>
              <div class="app__day weekday">Thu</div>
              <div class="app__day weekday">Fri</div>
              <div class="app__day weekday">Sad</div>
              <div class="app__day date">8</div>
              <div class="app__day date">9</div>
              <div class="app__day date">10</div>
              <div class="app__day date">11</div>
              <div class="app__day date">12</div>
              <div class="app__day date">13</div>
              <div class="app__day date">14</div>
            </div>
            <div class="app__meetings">
              <div class="app__meeting">
                <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-80_5.jpg" alt="" class="app__meeting-photo" />
                <p class="app__meeting-name">Feed the cat</p>
                <p class="app__meeting-info">
                  <span class="app__meeting-time">8 - 10am</span>
                  <span class="app__meeting-place">Real-life</span>
                </p>
              </div>
              <div class="app__meeting">
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__meeting-photo" />
                <p class="app__meeting-name">Feed the cat!</p>
                <p class="app__meeting-info">
                  <span class="app__meeting-time">1 - 3pm</span>
                  <span class="app__meeting-place">Real-life</span>
                </p>
              </div>
              <div class="app__meeting">
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__meeting-photo" />
                <p class="app__meeting-name">FEED THIS CAT ALREADY!!!</p>
                <p class="app__meeting-info">
                  <span class="app__meeting-time">This button is just for demo ></span>
                </p>
              </div>
            </div>
          </div>
          <div class="app__logout">
            <svg class="app__logout-icon svg-icon" viewBox="0 0 20 20">
              <path d="M6,3 a8,8 0 1,0 8,0 M10,0 10,12"/>
            </svg>
          </div>
        </div>
            </div>
        </div>

            <hr>
        <footer id="footer" class="container-fluid">
		<div class="overlay-bg"></div>
		<div >
			<div class="row">
				<div class="col-sm-12">
					<center><p>© Copyright 2016 - UNSM - FISI , página desarrollado por
					<a href="https://www.facebook.com/awcg7" target="_blanck">ANTHONY WAINER</a> &
				 <a href="https://www.facebook.com/nury.estrellagamonal" target="_blanck">NURY ESTRELLA</a>
                    </p>
                    </center>
				</div>

			</div>
		</div>
	</footer>
{% endblock %}
{% block js %}
    <!-- BOOTSTRAP -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'js/pace.min.js' %}"></script>
{% endblock %}
