<section id="col-left" class="col-left-nano">
    <div id="col-left-inner" class="col-left-nano-content">
        <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
            <img alt="" src="{% if user.foto %}
                                    {{ MEDIA_URL }}{{user.foto}}
                                {% elif user.foto_url %}
                                    {{user.foto_url}}
                                {% else %}
                                    {{ MEDIA_URL }}fotoperfil/miuser.jpg
                                {% endif %}" />
            <div class="user-box">
                <span class="name">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ user.username }}
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="traemedatos('security/cuenta')" ><i class="fa fa-cog"></i>Editar Cuenta</a></li>
                        <li><a href="{% url 'cerrarsesion' %}"><i class="fa fa-power-off"></i>Cerrar Sesión</a></li>
                    </ul>
                </span>
                <span class="status">
                    <i class="fa fa-circle"></i> .
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header nav-header-first hidden-sm hidden-xs">
                    Módulos
                </li>
                {% if modulo %}
                    {% for m in modulo %}
                        {% if m.idmodules__father == 0 and m.See == True %}
                            <li >
                                <a style="color: #00b19b" href="#" class="dropdown-toggle" title="{{m.idmodules__description}}">
                                    <i class="glyph-icon {{m.idmodules__icon__clase}}"></i>
                                        <span >{{m.idmodules__description}}</span>
                                    <i class="fa fa-angle-right drop-icon"></i>
                                </a>
                                <div class="submenu">
                                    {% with idpadre=m.idmodules_id %}
                                        <ul >
                                            {% for n in modulo  %}
                                                {% if n.idmodules__father == idpadre and n.See == True %}
                                                    <li >
                                                        <a style="color: #00b19b" onclick="traemedatos('{{n.idmodules__url}}')"  title="{{n.idmodules__description}}" href="#{{n.idmodules__url}}">
                                                        <span><i class="{{n.idmodules__icon__clase}}"></i> {{n.idmodules__description}}</span>
                                                        </a>
                                                    </li>

                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endwith %}
                                </div><!-- .sidebar-submenu -->
                            </li>

                        {% endif %}
                    {% endfor %}

                    {% else %}
                        <br>
                       <div class="alert alert-warning">
                           <div class="bg-red alert-icon">
                               <i class="glyph-icon icon-warning"></i>
                           </div>
                            <div class="alert-content">
                                 No se encontro ningún Módulo contacte con el Administrador

                                <a href="#" title="Link">:(</a></p>
                            </div>
                       </div>

                    {% endif %}


            </ul>
        </div>
    </div>
</section>
