                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               {% extends "base.html" %}
{% block title %}
	sistema - LP3
{% endblock  %}
{% block css %}

 {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosadmin.css' %}" />

{% endblock %}

{% block contenido %}


        <div id="system" class="col-md-12"><br>
            <h2 align="center" class="" ><b>LISTA DE PERFILES DE ACCESO</b></h2>
            <div  class="main-box clearfix">
                {% for s in profile %}
                        <div class="col-md-4 col-sm-6 col-xs-12 pricing-package">
                            <div class="pricing-package-inner ">
                                <div class="package-content">
                                    <h3 class="package-price">{{ s.profiles__description }}</h3>
                                    <div class="package-footer">
                                        <a href="?sys={{ s.profiles }}" class="btn btn-lg btn-default font-size-12" title="">Entrar!</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                {% endfor %}

                <hr>
            </div>
        </div>
{% endblock%}

