<h2 align="center">Permisos del {{ name }}</h2>
<br>
{% for j in permission %}
                            {% if j.idmodules__father == 0 %}
                                <ul class="has-sub">
                                    <a href="javascript:;" class="">
                                        <i class="{{j.idmodules__icon}}"></i><span class="menu-text">{{j.idmodules__description}}</span>
                                        <input type="checkbox" onclick="Check(this)" id="{{j.id}}"class="{{j.idmodules_id}}" name="See"
                                                 {% if j.See == True %}
                                                    checked="checked"          
                                                {% endif %}     
                                        >    
                                    </a>                            
                                {% with idpadre=j.idmodules_id %} 
                                    <table class="table table-bordered sub">
                                            <tr>
                                                <td class="centrar">ACCIONES</td>
                                                <td class="centrar">VER</td>
                                                <td class="centrar">BUSCAR</td>
                                                <td class="centrar">AGREGAR</td>
                                                <td class="centrar">ACTUALZAR</td>
                                                <td class="centrar">ELIMINAR</td>
                                                <td class="centrar">IMPRIMIR</td>
                                                <td class="centrar">EXPORTAR</td>
                                                <td class="centrar">IMPORTAR</td>
                                            </tr>
                                        {% for n in permission  %}
                                            {% if n.idmodules__father == idpadre %}
                                            <tr>
                                                <td>
                                                    <span class="sub-menu-text">{{n.idmodules__description}}<i class="{{n.idmodules__icon__clase}}"></i>
                                                    </span>
                                                </td>
                                                <td class="centrar"><input onclick="Check(this)" type="checkbox" id="{{n.id}}"class="{{j.idmodules_id}}" name="See"
                                                 {% if n.See == True %}
                                                    checked="checked"          
                                                {% endif %}     
                                                ></td>
                                                <td class="centrar"><input onclick="Check(this)" type="checkbox" id="{{n.id}}" class="{{j.idmodules_id}}" name="Search"
                                                {% if n.Search == True %}
                                                    checked="checked"          
                                                {% endif %}
                                                ></td>
                                                <td class="centrar"><input onclick="Check(this)" type="checkbox" id="{{n.id}}" class="{{j.idmodules_id}}" name="Add"
                                                {% if n.Add == True %}
                                                    checked="checked"          
                                                {% endif %}
                                                ></td>
                                                <td class="centrar"><input onclick="Check(this)" type="checkbox" id="{{n.id}}" class="{{j.idmodules_id}}" name="Update" {% if n.Update == True %}
                                                    checked="checked"          
                                                {% endif %}
                                                ></td>
                                                <td class="centrar">
                                                    <input type="checkbox" id="{{n.id}}" class="{{j.idmodules_id}}" name="Delete" {% if n.Delete == True %}
                                                    checked="checked"          
                                                {% endif %}
                                                ></td>
                                                <td class="centrar"><input onclick="Check(this)" type="checkbox" id="{{n.id}}" class="{{j.idmodules_id}}" name="Print"
                                                {% if n.Print == True %}
                                                    checked="checked"          
                                                {% endif %}
                                                ></td>
                                                <td class="centrar"><input onclick="Check(this)" type="checkbox" id="{{n.id}}" class="{{j.idmodules_id}}" name="Export"
                                                {% if n.Export == True %}
                                                    checked="checked"          
                                                {% endif %}
                                                ></td>
                                                <td class="centrar"><input onclick="Check(this)" type="checkbox" id="{{n.id}}" class="{{j.idmodules_id}}" name="Import"
                                                {% if n.Import == True %}
                                                    checked="checked"          
                                                {% endif %}
                                                ></td>
                                               
                                            </tr>  
                                            {% endif %}

                                        {% endfor %}
                                        <tfooter>
                                            <tr>
                                                <td>
                                                <a href="#security/permission" onclick="marcar('{{j.idmodules_id}}')">marcar</a> / <a href="#security/permission" onclick="desmarcar('{{j.idmodules_id}}')">desmarcar</a>
                                                </td>
                                            </tr>
                                        </tfooter>
                                    </table>
                                {% endwith %}
                                                       
                              </ul>
                            {% endif %} 
                                                 
            {% endfor %}