<style>
    .centrar{
        text-align: center;
    }
</style>

    <h3>LISTA DE PERMISOS</h3>
    <div style="width:200px">
            <select  onchange="sperfil(this)" class="form-control">
                <option value="">--Seleccione perfil--</option>
                {% for i in profile %}
                    <option value="{{i.id}}">
                        {{i.description}}
                    </option>
                {% endfor %}
            </select>
    </div><br><br>
<div id="modPermiso">

</div>

<script>
    function sperfil(t) {
        a=$(t).val();
        name = $("select option:selected").html();
        $.get('security/permission/',{'id':a,'name':name}, function(data) {
            $('#modPermiso').empty().html(data);
             $('input[type="checkbox"]').attr('idp',a);
        });
    }
    function marcar(u){
     $("."+u).prop('checked',true); 
    var id_per = $('select').val();
     var estado = 'True';
     $.get('security/permission/CambiarEstadoTotal/',{'des': u,'id_per':id_per,'estado':estado}, function() {
      });
    }
    function desmarcar(u){
         $("."+u).prop('checked',false);
         var id_per = $('select').val();
         var estado = 'False';
     $.get('security/permission/CambiarEstadoTotal/',{'des': u,'id_per':id_per,'estado':estado}, function() {
      });
    }    
   
   function Check(t) {
      var id = $(t).attr('id');
      var name = $(t).attr('name');
      var estado = $(t).is(':checked');
      var id_per =$(t).attr('idp');
      $.get('security/permission/CambiarEstado/',{'id':id,'name':name,'estado':estado,'id_per':id_per}, function() {
      });
   }
</script>
