<h3 align="center">LISTA DE PERFILES</h3>
<br>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>descripción</th>
                <th>actualizar</th>
                <th>eliminar</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

<button type="button" class="btn btn-primary" onclick="addprofile()">Agregar</button>

<div id="form_profile"></div>

<script type="text/template" id="tbo">
    <% _.each(data, function(i,k){  %>
        <tr>
            <td><%=i.description%> </td>
            <td>
                <a onclick="updateprofile(<%=i.id%>)" href="#security/profile/<%=i.id%>/">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
            </td>
            <td>
                <a onclick="deleteprofile(<%=i.id%>)" href="#security/profile/<%=i.id%>/">
                    <i class="fa fa-trash"></i>
                </a>                        
            </td>
                    
        </tr>
    <% }) %>
</script>

{% load staticfiles %}
<script src="{% static 'js/appSecurity/base.js' %}"></script>
<script src="{% static 'js/appSecurity/profile.js' %}"></script>