<h2 align="center">Lista de Usuarios</h2><br>
<button class="btn btn-azure" onclick="addU()">Agregar</button><br><br>
<div class="panel table-responsive">
    <table class="table table-condensed table-rounded table-hover">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nombres y Apellidos</th>
            <th>Perfil</th>
            <th>Usuario</th>
            <th>Dni</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>

    {% for u in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td> <a href="#more" onclick="moreUser({{ u.id }})" style="color: steelblue">{{ u.first_name|title }}  {{ u.last_name|title }},  {{ u.names|title }}</a></td>
            <td>
                {% for p in u.profiles.all %}
                    <li style="color: forestgreen">{{ p }}<br></li>
                {% endfor %}
            </td>
            <td>{{ u.username }}</td>
            <td>{{ u.dni }}</td>
            <td><a href="#editar">
                <i class="fa fa-pencil" style="color: orangered;"  onclick="updateUser({{ u.id }})"></i>
            </a></td>
            <td><a href="#trash">
                <i class="fa fa-trash-o" style="color: red;"  onclick="deleteUser({{ u.id }})"></i>
            </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>


<script>
    function addU(){
        $.get('security/usuarios/add',function(d){
             $('#resultados').empty().html(d);
        });
    }
    function moreUser(id){
        $.get('security/usuarios/view/',{'id':id},function(d){
             $('#resultados').empty().html(d);
        });
    }
    function updateUser(id){
        $.get('security/usuarios/'+id+'/',function(d){
            $('#resultados').empty().html(d);
            $('form').attr('idd',id);
        });

    }
    function deleteUser(id){
        $.get('security/usuarios/delete/'+id+'/',function(d){
           traemedatos('security/usuarios');
        });

    }
</script>