<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ tipo }} SEMESTRE</h4>
</div>
<form action="POST" idd="{{ idd }}" onsubmit="reSemestre(this);return false" >
    <div class="modal-body">
            {% csrf_token %}
            {{ formulario }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit"class="btn btn-primary">{{ tipo }}</button>

    </div>
</form>
<script>
    function reSemestre(t){
        idd = $(t).attr('idd');
        form= $(t).serialize();

        if (idd){
            u = "registro/Semestre/update";
        }else{
            u = "registro/FormularioSemestre";
        }
          $.post(u,form+"&idd="+idd, function(data){
                    unblock_form();
                }).fail(function(resp) {
                unblock_form();
                var errors = JSON.parse(resp.responseText);
                console.log(resp);
                for (e in errors) {
                    var id = '#id_' + e;
                    $(id).after(errors[e]);
                }
                }).done(function(g){
                    $('#modal-8').modal('hide');
                    traemedatos('registro/RegistroSemestre');
                    noti("success",g);
                });
        return false;
    }
</script>