<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ name|upper }} </h4>
</div>

<form action="POST" idd="{{ idd }}"  onsubmit="reAlumno(this);return false" >
    <div class="modal-body">
            {% csrf_token %}
            {{ form }}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit"class="btn btn-primary">{{ name }}</button>

    </div>
</form>
<script>
    function reAlumno(t){
            idd = $(t).attr('idd');
            nn = $(t).attr('nn');
            form= $(t).serialize();

            if (idd){
                u = "registro/update/"+idd+"/";
            }else{
                u = "registro/FormularioAlumno/";
            }
              $.post(u,form+"&idd="+idd, function(data){
                    unblock_form();
                }).fail(function(resp) {
                unblock_form();
                var errors = JSON.parse(resp.responseText);
                console.log(resp);
                for (e in errors) {
                    var id = '#id_' + e;
                    $(id).after(errors[e]);
                }
                }).done(function(g){
                    $('#modal-8').modal('hide');
                    traemedatos('registro/Registro'+nn);
                    noti("success",g);
                });
            return false;
    }
</script>