<div>
    <h3>LISTAR SEMESTRE</h3>
</div>
<i class="fa fa-plus-square fa-3x puntero" style="color:#269abc " onclick="add()"></i>
<table class="table table-hover " role="grid" id="table-example">
    <thead>
        <tr>
            <th>N°</th>
            <th>AÑO</th>
            <th>NOMBRE DE AÑO SEMESTRE</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        {% for a in Semestre %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ a.Anio_semestre}}</td>
                <td>{{ a.Descripcion }}</td>
                <td>
                    <a href="#" class="fa fa-pencil-square" onclick="update({{ a.id }})" ></a>
                </td>
                <td>
                    <a href="#" class="fa fa-trash-o" onclick="eliminar({{ a.id }})" ></a>
                </td>
            </tr>

        {% endfor %}

    </tbody>
</table>
<div class="modal" data-easein="perspectiveRightIn" id="modal-8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
     <div class="modal-dialog" role="document">
         <div class="modal-content"></div>
     </div>
</div>
{% load static %}
<script src="{% static 'js/appSecurity/base.js' %}"></script>
<script src="{% static 'js/app_listas/listas.js' %}"></script>
<script>
            function add(){
                $.get("registro/FormularioSemestre",function(d){
                    $("#modal-8 .modal-content").empty().html(d);
                    $('#modal-8').modal('show');
                });
            }

            function update(id){
                $.get("registro/Semestre/update",{'idd':id}).done(function(d){
                    $("#modal-8 .modal-content").empty().html(d);
                    $('#modal-8').modal('show');
                });

            }
            function eliminar(id){
                $.get("registro/Semestre/eliminar",{'iddd':id}).done(function(d) {
                    noti("error", d);
                    traemedatos('registro/RegistroSemestre');
                });
            }

</script>

