<div>
    <h3>LISTAR ALUMNOS</h3>
</div>
<i class="fa fa-plus-square fa-3x puntero" style="color: #269abc" onclick="add()"></i>
<table class="table table-hover " id="table-example" role="grid">
    <thead>
        <tr>
        <th>N°</th>
        <th>Dni</th>
        <th>Apellidos y Nombres</th>
        <th>Dirección</th>
        <th>Telefono</th>
        <th>Gmail</th>
        <th>Editar</th>
        <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        {% for a in alumno %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ a.dni }}</td>
                <td>{{ a.first_name }} {{ a.last_name }}, {{ a.names }}</td>
                <td>{{ a.address }}</td>
                <td>{{ a.telephone }}</td>
                <td>{{ a.email }}</td>
                <td>
                    <a href="#" class="fa fa-pencil-square" onclick="update({{ a.id }})" ></a>
                </td>
                <td>
                    <a href="#" class="fa fa-trash-o" onclick="eliminar({{ a.id }})" ></a>
                </td>
            </tr>

        {% endfor %}

    </tbody>


</table>
<div class="modal" data-easein="perspectiveRightIn" id="modal-8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
     <div class="modal-dialog" role="document">
         <div class="modal-content"></div>
     </div>
</div>
{% load static %}
<script src="{% static 'js/appSecurity/base.js' %}"></script>
<script src="{% static 'js/app_listas/listas.js' %}"></script>
<script>
    function add(){
        $.get("registro/FormularioAlumno",function(d){
            $("#modal-8 .modal-content").empty().html(d);
            $('#modal-8').modal('show');
            $('#modal-8 form').attr('nn',"Alumnos");
        });
    }
    function update(id){
        $.get("registro/update/"+id+"/").done(function(d){
            $("#modal-8 .modal-content").empty().html(d);
            $('#modal-8').modal('show');
            $('#modal-8 form').attr('idd',id);
            $('#modal-8 form').attr('nn',"Alumnos");
        });

    }
    function eliminar(id){
        $.get("registro/Alumno/eliminar",{'iddd':id}).done(function(d) {
            noti("error", d);
            traemedatos('registro/RegistroAlumnos');
        });
    }

</script>